examples/soap-client/weather.got.wsdl

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://localhost/xml/wsdl/ndfdXML.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/xml/wsdl/ndfdXML.wsdl">
<types>
<xsd:schema targetNamespace="http://localhost/xml/wsdl/ndfdXML.wsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="weatherParametersType">
<xsd:all>
<xsd:element name="maxt" type="xsd:boolean"/>
<xsd:element name="mint" type="xsd:boolean"/>
<xsd:element name="temp" type="xsd:boolean"/>
<xsd:element name="dew" type="xsd:boolean"/>
<xsd:element name="pop12" type="xsd:boolean"/>
<xsd:element name="qpf" type="xsd:boolean"/>
<xsd:element name="sky" type="xsd:boolean"/>
<xsd:element name="snow" type="xsd:boolean"/>
<xsd:element name="wspd" type="xsd:boolean"/>
<xsd:element name="wdir" type="xsd:boolean"/>
<xsd:element name="wx" type="xsd:boolean"/>
<xsd:element name="waveh" type="xsd:boolean"/>
<xsd:element name="icons" type="xsd:boolean"/>
<xsd:element name="rh" type="xsd:boolean"/>
<xsd:element name="appt" type="xsd:boolean"/>
<xsd:element name="incw34" type="xsd:boolean"/>
<xsd:element name="incw50" type="xsd:boolean"/>
<xsd:element name="incw64" type="xsd:boolean"/>
<xsd:element name="cumw34" type="xsd:boolean"/>
<xsd:element name="cumw50" type="xsd:boolean"/>
<xsd:element name="cumw64" type="xsd:boolean"/>
<xsd:element name="critfireo" type="xsd:boolean"/>
<xsd:element name="dryfireo" type="xsd:boolean"/>
<xsd:element name="conhazo" type="xsd:boolean"/>
<xsd:element name="ptornado" type="xsd:boolean"/>
<xsd:element name="phail" type="xsd:boolean"/>
<xsd:element name="ptstmwinds" type="xsd:boolean"/>
<xsd:element name="pxtornado" type="xsd:boolean"/>
<xsd:element name="pxhail" type="xsd:boolean"/>
<xsd:element name="pxtstmwinds" type="xsd:boolean"/>
<xsd:element name="ptotsvrtstm" type="xsd:boolean"/>
<xsd:element name="pxtotsvrtstm" type="xsd:boolean"/>
<xsd:element name="tmpabv14d" type="xsd:boolean"/>
<xsd:element name="tmpblw14d" type="xsd:boolean"/>
<xsd:element name="tmpabv30d" type="xsd:boolean"/>
<xsd:element name="tmpblw30d" type="xsd:boolean"/>
<xsd:element name="tmpabv90d" type="xsd:boolean"/>
<xsd:element name="tmpblw90d" type="xsd:boolean"/>
<xsd:element name="prcpabv14d" type="xsd:boolean"/>
<xsd:element name="prcpblw14d" type="xsd:boolean"/>
<xsd:element name="prcpabv30d" type="xsd:boolean"/>
<xsd:element name="prcpblw30d" type="xsd:boolean"/>
<xsd:element name="prcpabv90d" type="xsd:boolean"/>
<xsd:element name="prcpblw90d" type="xsd:boolean"/>
<xsd:element name="wwa" type="xsd:boolean"/>
<xsd:element name="wgust" type="xsd:boolean"/>
<xsd:element name="iceaccum" type="xsd:boolean"/>
<xsd:element name="maxrh" type="xsd:boolean"/>
<xsd:element name="minrh" type="xsd:boolean"/>
<xsd:element name="evp24" type="xsd:boolean"/>
<xsd:element name="evpdep24" type="xsd:boolean"/>
<xsd:element name="evp168" type="xsd:boolean"/>
<xsd:element name="tcsurge" type="xsd:boolean"/>
<xsd:element name="tcrain" type="xsd:boolean"/>
<xsd:element name="tcwind" type="xsd:boolean"/>
<xsd:element name="tctornado" type="xsd:boolean"/>
<xsd:element name="ppi" type="xsd:boolean"/>
<xsd:element name="probtsrwe24" type="xsd:boolean"/>
<xsd:element name="snowlvl" type="xsd:boolean"/>
<xsd:element name="snow24e10" type="xsd:boolean"/>
<xsd:element name="snow24e90" type="xsd:boolean"/>
<xsd:element name="snow48e10" type="xsd:boolean"/>
<xsd:element name="snow48e90" type="xsd:boolean"/>
<xsd:element name="snow72e10" type="xsd:boolean"/>
<xsd:element name="snow72e90" type="xsd:boolean"/>
<xsd:element name="wbgt" type="xsd:boolean"/>
<xsd:element name="snowratio" type="xsd:boolean"/>
<xsd:element name="ceil" type="xsd:boolean"/>
<xsd:element name="vis" type="xsd:boolean"/>
<xsd:element name="llwsdist" type="xsd:boolean"/>
<xsd:element name="llwswindspd" type="xsd:boolean"/>
<xsd:element name="llwswinddir" type="xsd:boolean"/>
<xsd:element name="heatrisk" type="xsd:boolean"/>
</xsd:all>
</xsd:complexType>
<xsd:simpleType name="sectorType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="conus"/>
<xsd:enumeration value="nhemi"/>
<xsd:enumeration value="alaska"/>
<xsd:enumeration value="guam"/>
<xsd:enumeration value="hawaii"/>
<xsd:enumeration value="puertori"/>
<xsd:enumeration value="npacocn"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="unitType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="e"/>
<xsd:enumeration value="m"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="formatType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="12 hourly"/>
<xsd:enumeration value="24 hourly"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="productType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="time-series"/>
<xsd:enumeration value="glance"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="featureTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Forecast_Gml2Point"/>
<xsd:enumeration value="Forecast_Gml2AllWx"/>
<xsd:enumeration value="Forecast_GmlsfPoint"/>
<xsd:enumeration value="Forecast_GmlObs"/>
<xsd:enumeration value="NdfdMultiPointCoverage"/>
<xsd:enumeration value="Ndfd_KmlPoint"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="compTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="IsEqual"/>
<xsd:enumeration value="Between"/>
<xsd:enumeration value="GreaterThan"/>
<xsd:enumeration value="GreaterThanEqualTo"/>
<xsd:enumeration value="LessThan"/>
<xsd:enumeration value="LessThanEqualTo"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="displayLevelType">
<xsd:restriction base="xsd:integer">
<xsd:enumeration value="1"/>
<xsd:enumeration value="2"/>
<xsd:enumeration value="3"/>
<xsd:enumeration value="4"/>
<xsd:enumeration value="12"/>
<xsd:enumeration value="34"/>
<xsd:enumeration value="1234"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
</types>
<message name="NDFDgenRequest">
<part name="latitude" type="xsd:decimal"/>
<part name="longitude" type="xsd:decimal"/>
<part name="product" type="tns:productType"/>
<part name="XMLformat" type="xsd:string"/>
<part name="startTime" type="xsd:dateTime"/>
<part name="endTime" type="xsd:dateTime"/>
<part name="Unit" type="tns:unitType"/>
<part name="weatherParameters" type="tns:weatherParametersType"/>
</message>
<message name="NDFDgenResponse">
<part name="XMLOut" type="xsd:string"/>
</message>
<message name="NDFDgenLatLonListRequest">
<part name="listLatLon" type="xsd:string"/>
<part name="product" type="tns:productType"/>
<part name="XMLformat" type="xsd:string"/>
<part name="startTime" type="xsd:dateTime"/>
<part name="endTime" type="xsd:dateTime"/>
<part name="Unit" type="tns:unitType"/>
<part name="weatherParameters" type="tns:weatherParametersType"/>
</message>
<message name="NDFDgenLatLonListResponse">
<part name="XMLOut" type="xsd:string"/>
</message>
<message name="LatLonListSubgridRequest">
<part name="XMLformat" type="xsd:string"/>
<part name="listType" type="xsd:string"/>
<part name="lowerLeftLatitude" type="xsd:decimal"/>
<part name="lowerLeftLongitude" type="xsd:decimal"/>
<part name="upperRightLatitude" type="xsd:decimal"/>
<part name="upperRightLongitude" type="xsd:decimal"/>
<part name="resolution" type="xsd:decimal"/>
</message>
<message name="LatLonListSubgridResponse">
<part name="listLatLonOut" type="xsd:string"/>
</message>
<message name="LatLonListLineRequest">
<part name="XMLformat" type="xsd:string"/>
<part name="listType" type="xsd:string"/>
<part name="endPoint1Lat" type="xsd:decimal"/>
<part name="endPoint1Lon" type="xsd:decimal"/>
<part name="endPoint2Lat" type="xsd:decimal"/>
<part name="endPoint2Lon" type="xsd:decimal"/>
</message>
<message name="LatLonListLineResponse">
<part name="listLatLonOut" type="xsd:string"/>
</message>
<message name="LatLonListZipCodeRequest">
<part name="zipCodeList" type="xsd:string"/>
<part name="XMLformat" type="xsd:string"/>
<part name="listType" type="xsd:string"/>
</message>
<message name="LatLonListZipCodeResponse">
<part name="listLatLonOut" type="xsd:string"/>
</message>
<message name="LatLonListCityNamesRequest">
<part name="displayLevel" type="tns:displayLevelType"/>
<part name="XMLformat" type="xsd:string"/>
</message>
<message name="LatLonListCityNamesResponse">
<part name="listCityNamesOut" type="xsd:string"/>
</message>
<message name="LatLonListSquareRequest">
<part name="XMLformat" type="xsd:string"/>
<part name="listType" type="xsd:string"/>
<part name="centerPointLat" type="xsd:decimal"/>
<part name="centerPointLon" type="xsd:decimal"/>
<part name="distanceLat" type="xsd:decimal"/>
<part name="distanceLon" type="xsd:decimal"/>
<part name="resolution" type="xsd:decimal"/>
</message>
<message name="LatLonListSquareResponse">
<part name="listLatLonOut" type="xsd:string"/>
</message>
<message name="CornerPointsRequest">
<part name="XMLformat" type="xsd:string"/>
<part name="listType" type="xsd:string"/>
<part name="sector" type="tns:sectorType"/>
</message>
<message name="CornerPointsResponse">
<part name="listLatLonOut" type="xsd:string"/>
</message>
<message name="GmlLatLonListRequest">
<part name="listLatLon" type="xsd:string"/>
<part name="requestedTime" type="xsd:dateTime"/>
<part name="featureType" type="tns:featureTypeType"/>
<part name="weatherParameters" type="tns:weatherParametersType"/>
</message>
<message name="GmlLatLonListResponse">
<part name="GMLOut" type="xsd:string"/>
</message>
<message name="GmlTimeSeriesRequest">
<part name="listLatLon" type="xsd:string"/>
<part name="startTime" type="xsd:dateTime"/>
<part name="endTime" type="xsd:dateTime"/>
<part name="compType" type="tns:compTypeType"/>
<part name="featureType" type="tns:featureTypeType"/>
<part name="propertyName" type="xsd:string"/>
</message>
<message name="GmlTimeSeriesResponse">
<part name="GMLOut" type="xsd:string"/>
</message>
<message name="NDFDgenByDayRequest">
<part name="latitude" type="xsd:decimal"/>
<part name="longitude" type="xsd:decimal"/>
<part name="startDate" type="xsd:date"/>
<part name="numDays" type="xsd:integer"/>
<part name="Unit" type="tns:unitType"/>
<part name="XMLformat" type="xsd:string"/>
<part name="format" type="tns:formatType"/>
</message>
<message name="NDFDgenByDayResponse">
<part name="XMLByDayOut" type="xsd:string"/>
</message>
<message name="NDFDgenByDayLatLonListRequest">
<part name="listLatLon" type="xsd:string"/>
<part name="startDate" type="xsd:date"/>
<part name="numDays" type="xsd:integer"/>
<part name="Unit" type="tns:unitType"/>
<part name="XMLformat" type="xsd:string"/>
<part name="format" type="tns:formatType"/>
</message>
<message name="NDFDgenByDayLatLonListResponse">
<part name="XMLByDayOut" type="xsd:string"/>
</message>
<portType name="ndfdXMLPortType">
<operation name="NDFDgen">
<documentation>Returns National Weather Service digital weather forecast data. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. Allowable values for the input variable "product" are "time-series" and "glance". Allowable values for the input variable "Unit" are "e" for U.S. Standare/English units and "m" for Metric units. For both products, a start and end time (Local) are required. For the time-series product, the input variable "weatherParameters" has array elements set to "true" to indicate which weather parameters are being requested. If an array element is set to "false", data for that weather parameter are not to be returned.</documentation>
<input message="tns:NDFDgenRequest"/>
<output message="tns:NDFDgenResponse"/>
</operation>
<operation name="NDFDgenLatLonList">
<documentation>Returns National Weather Service digital weather forecast data. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. The latitude and longitude are delimited by a comma and multiple pairs are delimited by a space (i.e. 30.00,-77.00 40.00,-90.00). Allowable values for the input variable "product" are "time-series" and "glance". Allowable values for the input variable "Unit" are "e" for U.S. Standare/English units and "m" for Metric units. For both products, a start and end time (Local) are required. For both products, a start and end time (Local) are required. For the time-series product, the input variable "weatherParameters" has array elements set to "true" to indicate which weather parameters are being requested. If an array element is set to "false", data for that weather parameter are not to be returned.</documentation>
<input message="tns:NDFDgenLatLonListRequest"/>
<output message="tns:NDFDgenLatLonListResponse"/>
</operation>
<operation name="LatLonListSubgrid">
<documentation>Returns a list of Latitude and longitude pairs for a rectangle defined by its lower left and upper right points. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico.</documentation>
<input message="tns:LatLonListSubgridRequest"/>
<output message="tns:LatLonListSubgridResponse"/>
</operation>
<operation name="LatLonListLine">
<documentation>Returns a list of latitude and longitude pairs along a line defined by two points. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList.</documentation>
<input message="tns:LatLonListLineRequest"/>
<output message="tns:LatLonListLineResponse"/>
</operation>
<operation name="LatLonListZipCode">
<documentation>Returns the latitude and longitude pairs corresponding to a list of one or more zip codes. Supports zip codes for the Continental United States, Alaska, Hawaii, and Puerto Rico only. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList.</documentation>
<input message="tns:LatLonListZipCodeRequest"/>
<output message="tns:LatLonListZipCodeResponse"/>
</operation>
<operation name="LatLonListCityNames">
<documentation>Returns the latitude and longitude pairs corresponding to a predefined list of US cities. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList. The response also includes a list of city names with the order of the names matching the order of the corresponding point.</documentation>
<input message="tns:LatLonListCityNamesRequest"/>
<output message="tns:LatLonListCityNamesResponse"/>
</operation>
<operation name="LatLonListSquare">
<documentation>Returns a list of latitude and longitude pairs in a rectangle defined by a central point and distance from that point in the latitudinal and longitudinal directions. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList.</documentation>
<input message="tns:LatLonListSquareRequest"/>
<output message="tns:LatLonListSquareResponse"/>
</operation>
<operation name="CornerPoints">
<documentation>Returns latitude and longitude pairs of the four corners of an NDFD grid. Provides points in a format suitable for use in calling multi-point functions NDFDgenLatLonList and NDFDgenByDayLatLonList. Supports latitudes and longitudes for the Continental United States, Hawaii, Guam, and Puerto Rico only. Also provides a minimum resolution for requesting the grid.</documentation>
<input message="tns:CornerPointsRequest"/>
<output message="tns:CornerPointsResponse"/>
</operation>
<operation name="GmlLatLonList">
<documentation>Returns National Weather Service digital weather forecast data encoded in GML. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. The latitude and longitude are delimited by a comma and multiple pairs are delimited by a space (i.e. 30.00,-77.00 40.00,-90.00). Allowable values for the input variable "featureType" are "Forecast_Gml2Point", "Forecast_GmlObs", "NdfdMultiPointCoverage", "Ndfd_KmlPoint", and "Forecast_GmlsfPoint". For all feature types a time (UTC) is required to indicate when data is requested. The input variable "weatherParameters" has array elements set to "true" to indicate which weather parameters are being requested. If an array element is set to "false", data for that weather parameter are not to be returned.</documentation>
<input message="tns:GmlLatLonListRequest"/>
<output message="tns:GmlLatLonListResponse"/>
</operation>
<operation name="GmlTimeSeries">
<documentation>Returns National Weather Service digital weather forecast data encoded in GML. Supports latitudes and longitudes for the Continental United States, Alaska, Hawaii, Guam, and Puerto Rico only. The latitude and longitude are delimited by a comma and multiple pairs are delimited by a space (i.e. 30.00,-77.00 40.00,-90.00). Allowable values for the input variable "featureType" are "Forecast_Gml2Point", "Forecast_GmlObs", "NdfdMultiPointCoverage", "Ndfd_KmlPoint", and "Forecast_GmlsfPoint". For all feature types a start and end time (UTC) is required to indicate when data is requested. a comparison type (IsEqual, Between, GreaterThan, GreaterThan, GreaterThanEqualTo, LessThan, and LessThanEqualTo). The input variable "propertyName" contains a comma delimited string of NDFD element to indicate which weather parameters are being requested.</documentation>
<input message="tns:GmlTimeSeriesRequest"/>
<output message="tns:GmlTimeSeriesResponse"/>
</operation>
<operation name="NDFDgenByDay">
<documentation>Returns National Weather Service digital weather forecast data. Supports latitudes and longitudes for the Continental United States, Hawaii, Guam, and Puerto Rico only. Allowable values for the input variable "format" are "24 hourly" and "12 hourly". The input variable "startDate" is a date string representing the first day (Local) of data to be returned. The input variable "numDays" is the integer number of days for which the user wants data. Allowable values for the input variable "Unit" are "e" for U.S. Standare/English units and "m" for Metric units.</documentation>
<input message="tns:NDFDgenByDayRequest"/>
<output message="tns:NDFDgenByDayResponse"/>
</operation>
<operation name="NDFDgenByDayLatLonList">
<documentation>Returns National Weather Service digital weather forecast data. Supports latitudes and longitudes for the Continental United States, Hawaii, Guam, and Puerto Rico only. The latitude and longitude are delimited by a comma and multiple pairs are delimited by a space (i.e. 30.00,-77.00 40.00,-90.00). Allowable values for the input variable "format" are "24 hourly" and "12 hourly". The input variable "startDate" is a date string representing the first day (Local) of data to be returned. The input variable "numDays" is the integer number of days for which the user wants data. Allowable values for the input variable "Unit" are "e" for U.S. Standare/English units and "m" for Metric units.</documentation>
<input message="tns:NDFDgenByDayLatLonListRequest"/>
<output message="tns:NDFDgenByDayLatLonListResponse"/>
</operation>
</portType>
<binding name="ndfdXMLBinding" type="tns:ndfdXMLPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="NDFDgen">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#NDFDgen" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="NDFDgenLatLonList">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#NDFDgenLatLonList" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="LatLonListSubgrid">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#LatLonListSubgrid" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="LatLonListLine">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#LatLonListLine" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="LatLonListZipCode">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#LatLonListZipCode" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="LatLonListCityNames">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#LatLonListCityNames" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="LatLonListSquare">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#LatLonListSquare" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="CornerPoints">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#CornerPoints" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="GmlLatLonList">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#GmlLatLonList" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="GmlTimeSeries">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#GmlTimeSeries" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="NDFDgenByDay">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#NDFDgenByDay" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="NDFDgenByDayLatLonList">
<soap:operation soapAction="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl#NDFDgenByDayLatLonList" style="rpc"/>
<input>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="https://digital.weather.gov/xml/wsdl/ndfdXML.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="ndfdXML">
<port name="ndfdXMLPort" binding="tns:ndfdXMLBinding">
<soap:address location="http://localhost/xml/SOAP_server/ndfdXMLserver.php"/>
</port>
</service>
</definitions>