examples/soap-client/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WeatherService"
             targetNamespace="http://www.example.com/weather"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.example.com/weather"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <types>
    <xs:schema targetNamespace="http://www.example.com/weather">
      <xs:element name="GetWeatherRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CityName"    type="xs:string"/>
            <xs:element name="CountryName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetWeatherResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Temperature" type="xs:decimal"/>
            <xs:element name="Humidity"    type="xs:integer"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="GetWeatherRequestMsg">
    <part name="parameters" element="tns:GetWeatherRequest"/>
  </message>
  <message name="GetWeatherResponseMsg">
    <part name="parameters" element="tns:GetWeatherResponse"/>
  </message>

  <portType name="WeatherPortType">
    <operation name="GetWeather">
      <input  message="tns:GetWeatherRequestMsg"/>
      <output message="tns:GetWeatherResponseMsg"/>
    </operation>
  </portType>

  <binding name="WeatherBinding" type="tns:WeatherPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetWeather">
      <soap:operation soapAction="http://www.example.com/weather/GetWeather"/>
      <input>  <soap:body use="literal"/> </input>
      <output> <soap:body use="literal"/> </output>
    </operation>
  </binding>

  <service name="WeatherService">
    <port name="WeatherPort" binding="tns:WeatherBinding">
      <soap:address location="http://www.example.com/weatherservice"/>
    </port>
  </service>

</definitions>
